<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467734467088-bivhrd65qtvrf0kq6sanm7r1gg3uigib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467734467088-bivhrd65qtvrf0kq6sanm7r1gg3uigib</string>
	<key>API_KEY</key>
	<string>your api key </string>
	<key>GCM_SENDER_ID</key>
	<string>467734467088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>brcd420</string>
	<key>STORAGE_BUCKET</key>
	<string>brcd420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467734467088:ios:c14452afba59a093a23095</string>
</dict>
</plist>